name: Emacs (default)

on:
  push:
    branches:
      - master
      - dev
    paths:
      - 'Aliases/emacs-head'
      - '.github/workflows/emacs.yml'
  pull_request:
    paths:
      - 'Aliases/emacs-head'
      - '.github/workflows/emacs.yml'
  schedule:
    - cron:  '0 7 * * *'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, macos-11.0]
        build_opts:
          # Emacs-head@27 - All options (imagemagick@7)
          - '--with-cocoa --with-no-frame-refocus --with-imagemagick --with-pdumper --with-xwidgets'

    env:
      HOMEBREW_GITHUB_REF: ${{ github.head_ref || github.ref }}
      HOMEBREW_GITHUB_REPOSITORY: ${{ github.repository }}
      HOMEBREW_GITHUB_ACTOR: ${{ github.actor }}

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Use XCode 12.5 for Big Sur
      if: contains(matrix.os, 'macos-11')
      run: sudo xcode-select -s "/Applications/Xcode_12.5.app"

    - name: Build emacs-head ${{ matrix.build_opts }}
      run: brew install --verbose Aliases/$(readlink Aliases/emacs-head) ${{ matrix.build_opts }}

    - name: Test installation
      run: brew test Aliases/$(readlink Aliases/emacs-head)
