name: Emacs (default)

on:
  push:
    branches:
      - master
      - dev
    paths:
      - 'Aliases/emacs-head'
      - '.github/workflows/emacs.yml'
  pull_request:
    paths:
      - 'Aliases/emacs-head'
      - '.github/workflows/emacs.yml'
  schedule:
    - cron:  '0 7 * * *'

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, macos-11.0]
        build_opts:
          # Bottle
          - ''

    env:
      HOMEBREW_GITHUB_REF: ${{ github.head_ref || github.ref }}
      HOMEBREW_GITHUB_REPOSITORY: ${{ github.repository }}
      HOMEBREW_GITHUB_ACTOR: ${{ github.actor }}

    steps:
    - uses: actions/checkout@v1

    - name: Use XCode 12.2 for Big Sur
      if: contains(matrix.os, 'macos-11.0')
      run: sudo xcode-select -s "/Applications/Xcode_12.2.app"

    - name: Build emacs-head ${{ matrix.build_opts }}
      run: brew install --verbose Aliases/$(readlink Aliases/emacs-head) ${{ matrix.build_opts }}

    - name: Test installation
      run: brew test Aliases/$(readlink Aliases/emacs-head)
